testcustomer1/target/classes/Customers.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <http:listener-config name="Customers-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="Customers-config" raml="Customers.raml" consoleEnabled="true" doc:name="Router" keepRamlBaseUri="false">
        <apikit:flow-mapping resource="/customers" action="get" flow-ref="Customers-main"/>
        <apikit:flow-mapping resource="/customers/{customer_id}" action="get" flow-ref="get:/customers/{customer_id}:Customers-config"/>
    </apikit:config>
    
    <db:generic-config name="Generic_Database_Configuration" url="jdbc:h2:tcp://localhost/~/test,user ='SA',password ='test'" driverClassName="org.h2.Driver" doc:name="Generic Database Configuration"/>

    <db:mysql-config name="MySQL_Configuration" host="103.212.120.53" port="3306" user="ztczscwy_CustMule" password="oyMMzQCT(DJv" database="ztczscwy_CustTest" doc:name="MySQL Configuration"/>

    <flow name="Customers-main">
        <http:listener config-ref="Customers-httpListenerConfig" path="/api/*" allowedMethods="get" doc:name="HTTP"/>
        <apikit:router config-ref="Customers-config" doc:name="APIkit Router"/>
        <response>
            <logger message="#[message]" level="TRACE" doc:name="Logger"/>
        </response>
        <response>
            <json:object-to-json-transformer doc:name="Object to JSON"/>
        </response>
        <response>
            <db:select config-ref="Generic_Database_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[select * from customers;]]></db:parameterized-query>
            </db:select>
        </response>
        <response>
            <json:json-to-object-transformer doc:name="JSON to Object"/>
        </response>

        <exception-strategy ref="Customers-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="Customers-console">
        <http:listener config-ref="Customers-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="Customers-config" doc:name="APIkit Console"/>
        <response>
            <logger message="#[payload]" level="DEBUG" doc:name="Logger"/>
        </response>
        <response>
            <json:object-to-json-transformer doc:name="Object to JSON"/>
        </response>
        <db:select config-ref="Generic_Database_Configuration" doc:name="Database">
            <db:dynamic-query><![CDATA[select * from customers;]]></db:dynamic-query>
        </db:select>
        <response>
            <logger message="#[message]" level="DEBUG" doc:name="Logger"/>
        </response>
        <logger message="#[]" level="DEBUG" doc:name="Logger"/>

    </flow>
    <flow name="get:/customers:Customers-config">
        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/customers/{customer_id}:Customers-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="Customers-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
